{% include "header.html" %}




<div class="container-fluid">
    <div class="row" style="background-color:blue;">
        <div col="12">
            {% if user.is_authenticated %}
            <section class="h-100 gradient-custom-2">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-9 col-xl-7">
                      <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                          <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{request.user.profile.photo.url}}"  
                              alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                              style="width: 150px; z-index: 1">
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                              style="z-index: 1;">
                              <a href="{% url 'edit_profile'%}">EDIT PROFILE</a>
                            </button>
                          </div>
                          <div class="ms-3" style="margin-top: 130px;">
                            <p> {{user.first_name}} {{ user.last_name}}</p>
                          </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                          <div class="d-flex justify-content-end text-center py-1">
                           
                          </div>
                        </div>
                        <div class="card-body p-4 text-black">
                          <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <tr>
                            <p>Email: {{user.username}}</p>
                            
                            <tr>
                                
                            <p>Student_id: {{request.user.profile.stud_id}}</p>
                            
                            <tr>
                            <p>Number: {{request.user.profile.number}}</p>
                            
                            <tr>
                            <p>Dob: {{request.user.profile.dob}}</p>
                            
                            <tr>
                            <p>Gender:  {{request.user.profile.gender}}</p>
                            
                            <tr>
                            <p>Branch:  {{request.user.profile.branch}}</p>
                            
                            <tr>
                            <p>Semister: {{request.user.profile.semister}}</p>
                            
                            </div>
                          </div>
                          
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              {% endif %}
        </div>
    </div>
</div>



{% include 'footer.html' %}